@import '../helpers/fonts', '../helpers/colors', '../helpers/sizes';

#footer {
  position: absolute;
  left: 0;
  right: 0;
  line-height: $sm-footer-height;
  font-family: $header-font;
  font-size: 0.75rem;
  // color: #fff;
  color: $light-color;
  background-color: $primary-color;
  text-align: center;
}

.triangle {
  $size: 0.6rem;
  display: inline-block;
  height: $size;
  width: $size;
  // fill: $light-color;
  fill: #fff;
  margin: 0 0.3rem;
}

@media only screen and (min-width: 450px) {
  #footer {
    font-size: 0.85rem;
  }

  .triangle {
    $size: 0.7rem;
    height: $size;
    width: $size;
    margin: 0 0.4rem;
  }
}

@media only screen and (min-width: 800px) {
  #footer {
    font-size: 1rem;
    line-height: $lg-footer-height;
  }

  .triangle {
    $size: 0.8rem;
    height: $size;
    width: $size;
    margin: 0 0.5rem;
  }
}