@import '../helpers/sizes', '../helpers/colors';

/*-----------
   HEADER
-----------*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $sm-header-height;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0 $sm-side-margin;
  background-color: transparent;
  z-index: 3;
}

/*-----------
    MENU
-----------*/
$icon-size: $sm-header-height * 0.75;
$btn-padding: 7.5px;
$bar-height: 3px;
$bar-space: 7px;

.menu {
  box-sizing: content-box;
  position: relative;
  width: $icon-size;
  height: $icon-size;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 $btn-padding;
  cursor: pointer;
}

.menu__icon,
.menu__icon:before,
.menu__icon:after {
  position: absolute;
  height: $bar-height;
  background-color: $light-color;
  box-shadow: -2px 2px 2px 0px $dark-bg-color;
  transition: width 300ms ease;
}

.menu__icon {
  top: ($icon-size - $bar-height)/2;
  right: $btn-padding;
  width: $icon-size * 0.65;

  &:before,
  &:after {
    content: '';
    right: 0;
  }

  &:before {
    top: -$bar-space;
    width: $icon-size * 0.85;
  }

  &:after {
    top: $bar-space;
    width: $icon-size;
  }
}

// New variables from width 450px
$icon-size: $lg-header-height * 0.7;
$bar-space: 8px;

@media only screen and (min-width: 450px) {
  #header {
    height: $lg-header-height;
    padding: 0 $lg-side-margin;
  }

  .menu {
    width: $icon-size;
    height: $icon-size;
  }

  .menu__icon {
    top: ($icon-size - $bar-height)/2;
    width: $icon-size * 0.65;

    &:before {
      top: -$bar-space;
      width: $icon-size * 0.85;
    }

    &:after {
      top: $bar-space;
      width: $icon-size;
    }
  }
}

// Button animation on hover
@media only screen and (min-width: 800px) {
  .menu:hover {
    .menu__icon {
      width: $icon-size;
    }

    .menu__icon:before {
      width: $icon-size * 0.65;
    }

    .menu__icon:after {
      width: $icon-size * 0.75;
    }
  }
}