@import '../helpers/sizes', '../helpers/colors';

$logo-size: $sm-header-height * 0.6;
$icon-size: $sm-header-height * 0.75;
$btn-padding: 7.5px;

.header,
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  @extend %width-layout;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $sm-header-height;
  // background: $bg-color;
  background-color: transparent;
  z-index: 3;
}

.logo {
  padding: 0.25rem;

  & > img {
    width: $logo-size * 1.26;
    height: $logo-size;
    margin: 0;
  }
}

.menu_btn {
  box-sizing: content-box;
  position: relative;
  width: $icon-size;
  height: $icon-size;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 $btn-padding;
  cursor: pointer;
}

.menu_btn_icon {
  $bar-height: 3px;
  $bar-space: 7px;

  position: absolute;
  top: ($icon-size - $bar-height)/2;
  right: $btn-padding;
  width: $icon-size * 0.65;
  height: $bar-height;
  background-color: $primary-color;

  &:before,
  &:after {
    content: '';
    position: absolute;
    right: 0;
    height: $bar-height;
    background-color: $primary-color;
  }

  &:before {
    top: -$bar-space;
    width: $icon-size * 0.85;
  }

  &:after {
    top: $bar-space;
    width: $icon-size;
  }
}

@media only screen and (min-width: 450px) {
  $icon-size: $lg-header-height * 3/5;

  .header {
    height: $lg-header-height;
  }

  .logo > img {
    width: $icon-size * 1.26;
    height: $icon-size;
  }

  .menu_btn {
    width: $icon-size;
    height: $icon-size;
  }

  .menu_btn_icon {
    $bar-height: 3px;
    $bar-space: 7px;

    position: absolute;
    top: ($icon-size - $bar-height)/2;
    right: $btn-padding;
    width: $icon-size * 0.65;
    height: $bar-height;
    background-color: $primary-color;

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
      height: $bar-height;
      background-color: $primary-color;
    }

    &:before {
      top: -$bar-space;
      width: $icon-size * 0.85;
    }

    &:after {
      top: $bar-space;
      width: $icon-size;
    }
  }
}