@import '../helpers/sizes', '../helpers/colors';

* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.layout {
  @extend %width-layout;
  background-color: $bg-color;
  height: 100vh;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  padding-top: $sm-header-height * 2;
}

@media only screen and (min-width: 450px) {
  .container {
    padding-top: $lg-header-height * 2;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    padding-top: $lg-header-height;
  }

  .layout[nav="showed"] {
    padding-right: $side-margin + ($lg-nav-width - $side-margin);
  }
}