@import '../helpers/sizes', '../helpers/colors';

* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.layout {
  background-color: $bg-color;
  height: 100vh;
  width: 100vw - 2 * $side-margin;
  margin: 0 auto;
}

.container {
  position: relative;
  top: -$sm-header-height;
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  padding-top: $sm-header-height * 2;
}

@media only screen and (min-width: 450px) {
  .container {
    top: -$lg-header-height;
    padding-top: $lg-header-height * 2;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    top: -$lg-header-height;
    padding-top: $lg-header-height;
  }

  .layout[nav="showed"] {
    padding-right: $lg-nav-width - $side-margin;
  }
}