@import '../helpers/sizes', '../helpers/colors', '../helpers/icons';

#nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // width: $sm-nav-width;
  // width: 100vw;
  // height: 100vh;
  background-color: $primary-color;
  opacity: 0.85;
  z-index: 20;

  & > button {
    @include cross(15px, 25px, 35px, #fff);
  }
}

.nav_links {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;

  & > li {
    width: 100%;
    max-width: 250px;
    text-align: center;
    margin: 0.25rem 0;

    // & + li {
    //   border-top: 2px solid #fff;
    // }

    & > a {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      color: #fff;
      padding: 0.5rem 0;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      // &[aria-current="page"],
      &[class] {
        // color: darken(#fff, 25%);
        text-decoration: underline #fff;
      }
    }
  }
}

// @media only screen and (min-width: 450px) {
//   #nav {
//     width: $md-nav-width;
//   }
// }

// @media only screen and (min-width: 800px) {
//   #nav {
//     width: $lg-nav-width;
//   }
// }