@import '../helpers/sizes', '../helpers/colors', '../helpers/icons';

#nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // width: 100vw;
  // height: 100vh;
  background-color: $primary-color;
  // opacity: 0.85;
  z-index: 20;

  & > button {
    @include cross(15px, 25px, 35px, $light-color);
    z-index: 21;
  }
}

.nav_links {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;

  & > li {
    width: 100%;
    max-width: 250px;
    text-align: center;
    margin: 0.25rem 0;

    // & + li {
    //   border-top: 2px solid #fff;
    // }

    & > a {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 2.5rem;
      color: $light-color;
      padding: 0.5rem 0;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      &[class] {
        color: $action-color;
        text-decoration: underline $action-color;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .nav_links > li > a {
    font-size: 3rem;
  }
}