$theme: #fff133, #ed5a75, #263973;

$primary-color: nth($theme, 1);
$action-color: nth($theme, 2);
$bg-color: nth($theme, 3);
$dark-bg-color: darken($bg-color, 12%);

$light-color: #fff;
$dark-color: #0c0c0e;

$skills: (
  'design': #f5a623,
  'develop': #2776dd,
  'deploy': #c3073f,
);

$projects: (
  'news-aggregator': hsl(0, 100, 70),
  'tic-tac-toe': hsl(200, 75, 50),
  'choropleth-map': hsl(250, 100, 70),
  'simon-game': hsl(140, 50, 50),
);