$theme: #e27d60, #e8a87c, #f0747c,#86d3c4;

$primary-color: nth($theme, 1);
$secondary-color: nth($theme, 2);
$action-color: nth($theme, 3);
$bg-color: nth($theme, 4);
$dark-bg-color: darken($bg-color, 25%);

$light-color: #fff;
$dark-color: #0c0c0e;

// @function set-text-color() {
//   @if (lightness($bg-color) > 50) {
//     @return $dark-color;
//   } @else {
//     @return $light-color;
//   }
// }

$skills: (
  'design': #f5a623,
  'develop': #2776dd,
  'deploy': #c3073f,
);

$projects: (
  'news-aggregator': hsl(0, 100, 70),
  'tic-tac-toe': hsl(200, 75, 50),
  'choropleth-map': hsl(250, 100, 70),
  'simon-game': hsl(140, 50, 50),
);