// $bg-color: #e7dfdd;
// $bg-color: lighten(#2be4ee, 42%);
$bg-color: #fafffb;
// $bg-color: #0a0d43;
// $primary-color: navy;
$primary-color: #6312de;
$secondary-color: lighten(navy, 50%);
$light-color: #e7dfdd;
$dark-color: #0c0c0e;
$action-color: #ec18be;

@function set-text-color() {
  @if (lightness($bg-color) > 50) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

$skills: (
  'design': #f5a623,
  'develop': #4a90e2,
  'deploy': #0ec49b,
);

$projects: (
  'news-aggregator': hsl(0, 100, 70),
  'tic-tac-toe': hsl(200, 75, 50),
  'choropleth-map': hsl(250, 100, 70),
  'simon-game': hsl(140, 50, 50),
);