@mixin cross($top, $right, $size, $color) {
  position: absolute;
  top: $top;
  right: $right;
  width: $size;
  height: $size;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: $size;
    height: 3px;
    background-color: $color;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}