@mixin cross($top, $right, $size, $color) {
  $bar-height: 3px;

  position: absolute;
  top: $top;
  right: $right;
  width: $size;
  height: $size;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;

  &:before,
  &:after {
    content: '';
    display: block;
    position: relative;
    width: $size;
    height: $bar-height;
    background-color: $color;
  }

  &:before {
    top: $bar-height/2;
    transform: rotate(45deg);
  }

  &:after {
    top: -$bar-height/2;
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:focus {
    outline: 1px solid $light-color;
  }
}