$sm-header-height: 50px;
$lg-header-height: 64px;

$sm-footer-height: 40px;
$lg-footer-height: 50px;
$footer-margin: 20px;

$sm-nav-width: 100vw;
$md-nav-width: 50vw;
$lg-nav-width: 25vw;

$side-margin: 12.5vw;

%width-layout {
  width: 100vw;
  padding: 0 $side-margin;
}