<nav class="flex gap-2 py-4">
  {{/* Logo */}}
  <div class="font-bold">BG</div>
  <div>{{ .Site.Params.author }}</div>
</nav>
<div>
  <p class="text-lg">{{ .Params.header.subtitle }}</p>
  <h1 class="text-9xl">
    {{ .Params.header.title_1 }}
    <span class="opacity-35">{{ .Params.header.title_2 }}</span>
  </h1>
  <div class="flex items-center justify-between">
    <button
      id="contact-me"
      class="rounded-full border bg-black px-4 py-2 text-white"
    >
      Contact Me
    </button>
    <p class="basis-6/12 text-right">{{ .Params.header.description }}</p>
  </div>
</div>
