:root {
  // Sizes
  --height-header: 50px;

  // Colors
  --color-font: hsl(0deg, 0%, 45%); // #747474
  --color-font-light: hsl(0deg, 0%, 60%); // #747474

  --color-bg: hsl(0deg, 0%, 15%); // #272727

  --background-gradient: linear-gradient(
    to right,
    #221f2c,
    #25212f,
    #282333,
    #2c2536,
    #2f2739
  );
  --color-primary: hsl(54deg, 100%, 50%); // #ffe400

  // Theme 1
  // --color-theme1-orange: #ff652f;
  // --color-theme1-orange: hsl(16deg, 100%, 59%); // #ff652f
  // --color-theme1-yellow: #ffe400;
  // --color-theme1-yellow: #53ff8f;
  // --color-theme1-green: #14a76c;
  // --color-theme1-green: hsl(156deg, 79%, 37%); // #14a76c
  // --color-theme1-blue: hsl(207deg, 100%, 40%); // #0070cc
  // --color-theme1-red: hsl(9deg, 100%, 45%); // #e62200

  // --color-bg: #fbf4ef;

  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: var(--height-header) auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--color-font);
  background-image: var(--background-gradient);

  a {
    color: var(--color-font);
    transition: color 150ms;
    &:hover,
    &:focus {
      color: var(--color-font-light);
    }
  }
}

/*
 * Header
 */
#site-header {
  grid-area: header;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: var(--background-gradient);
  padding: 0 5%;
  z-index: 10;

  .logo {
    height: 100%;
    width: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      max-height: 70%;
      max-width: 70%;
    }
  }
}

// Screen reader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Button styling
.menu-toggle {
  display: inline-block;
  padding: 0.5em;
  line-height: 1.25em;
  font-size: 1.25em;
  color: var(--color-font);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--color-primary);
  }
}

// Offscreen menu style
.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: var(--background-gradient);
  transform: translateY(-200px);
  transition: transform 150ms ease-out;
  z-index: 20;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  li {
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.25);
    }
  }
  a {
    display: block;
    padding: 0.75em 15px;
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;
  }
  .menu-close {
    position: absolute;
    right: 0;
    top: 0;

    .icon {
      position: relative;
      display: block;
      height: 20px;
      width: 20px;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 50%;
        top: 0;
        height: 100%;
        width: 2px;
        background: var(--color-font);
        transition: background 150ms;
      }
      &:before {
        transform: translateX(50%) rotate(45deg);
      }
      &:after {
        transform: translateX(50%) rotate(-45deg);
      }
    }

    &:hover,
    &:focus {
      .icon:before,
      .icon:after {
        background: var(--color-font-light);
      }
    }
  }

  // Use target for CSS, aria-expanded for JS if any
  &:target,
  &[aria-expanded='true'] {
    display: block;
    transform: translateY(0);
    outline: none;
    box-shadow: 0px 6px 15px #141517;

    .menu-close {
      z-index: 21;
    }
    ul {
      position: relative;
      z-index: 20;
    }
  }
}

/*
 * Sidebar
 */
.left-sidebar {
  grid-area: left-sidebar;
  display: none;
  justify-self: center;

  .navbar {
    position: sticky;
    top: 40%;
    ul {
      list-style: none;
      li {
        margin-bottom: 2rem;
        a {
          text-decoration: none;
          font-weight: 500;
        }
      }
    }
  }
}

/*
 * Main
 */
main {
  grid-area: main;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#homepage-header {
  position: relative;
  // TODO Remove calc()
  height: calc(100vh - var(--height-header));
  text-align: center;

  .content-container {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    .title {
      position: relative;
      width: 100%;
      #header-title-gradient {
        --color-stop-1: #5e5578;
        --color-stop-2: #4b3f5f;
        --color-stop-3: #382b48;
      }
      & > * {
        width: 100%;
        fill: url(#header-title-gradient) var(--color-font);
      }
    }

    .subtitle {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1rem;
      span {
        color: var(--color-primary);
        font-weight: bold;
      }
    }

    .social-icons {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        &:not(:last-child) {
          margin-right: 1.05rem;
        }

        a {
          $size: 30px;
          display: inline-block;
          width: $size;
          height: $size;
          svg {
            width: 100%;
            stroke: var(--color-font);
            stroke-width: 1;
            transition: stroke 150ms;
          }
          &:hover svg,
          &:focus svg {
            stroke: var(--color-primary);
          }
        }
      }
    }
  }
}

#homepage-container {
  section {
    padding-top: var(--height-header);

    h2 {
      color: var(--color-font-light);
      margin-bottom: 4rem;
      &:before {
        content: '//';
        display: inline-block;
        position: relative;
        bottom: 0.2em;
        font-size: 0.65em;
        margin-right: 0.5em;
      }
    }
  }
}

/*
 * Work
 */
#work {
  .projects {
    list-style: none;
    & > li {
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      .title {
        font-weight: 400;
        margin-bottom: 0.5rem;
        span {
          font-weight: bold;
        }
      }
      .links {
        list-style: none;
        display: flex;
        a {
          margin-right: 1rem;
        }
      }
      img {
        max-width: 90%;
        margin: 2rem auto;
        box-shadow: 0px 0px 15px black;
      }
    }
  }
}

/*
 * About
 */
#about {
  p {
    text-align: justify;
    color: var(--color-font-light);
  }
}

/*
 * Footer
 */
footer {
  grid-area: footer;
  text-align: center;
  padding: 150px 0 50px;
}

@supports (position: fixed) {
  .main-menu {
    position: fixed;
  }
}

@media (min-width: 800px) {
  :root {
    font-size: 16px;
  }

  body {
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: var(--height-header) auto;
    grid-template-areas:
      'header header header'
      'left-sidebar main .'
      'footer footer footer';
  }

  #site-header {
    background: transparent;
  }

  .menu-toggle,
  .main-menu {
    display: none;
  }

  .left-sidebar {
    display: block;
  }

  main {
    width: 100%;
  }
}
