@import '../helpers/fonts', '../helpers/colors';

.container {
  text-align: center;
  margin-top: 100px;

  & > h1 {
    font-size: 2rem;
    color: $dark-color;
    padding: 1rem 0;
    margin-bottom: 0;
    text-shadow: none;
  }

  & > p {
    font-size: 1.2rem;

    & > a {
      color: $bg-color;
    }
  }
}

@media only screen and (min-width: 450px) {
  .container {
    & > h1 {
      font-size: 2.5rem;
    }

    & > p {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .container {
    & > h1 {
      font-size: 3rem;
    }

    & > p {
      font-size: 2rem;
    }
  }
}