@import '../helpers/fonts', '../helpers/colors';

.container {
  min-height: 100%;
  width: 100%;
  padding-bottom: 2rem;

  & > h1 {
    font-size: 1.9rem;
    text-align: center;
  }
}

#contact_form {
  font-family: $header-font;
  max-width: 750px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: repeat(7, 40px) 175px 40px;
  grid-template-columns: 100%;
  grid-gap: 0.5rem;
  grid-template-areas:
    'label-name'
    'input-name'
    'label-email'
    'input-email'
    'label-sub'
    'input-sub'
    'label-msg'
    'input-msg'
    'submit';

  & > label[for=name] {
    grid-area: label-name;
  }
  & > input[name=name] {
    grid-area: input-name;
  }
  & > label[for=email] {
    grid-area: label-email;
  }
  & > input[name=email] {
    grid-area: input-email;
  }
  & > label[for=subject] {
    grid-area: label-sub;
  }
  & > input[name=subject] {
    grid-area: input-sub;
  }
  & > label[for=message] {
    grid-area: label-msg;
  }
  & > textarea[name=message] {
    grid-area: input-msg;
  }
  & > button[type=submit] {
    grid-area: submit;
    width: 50%;
    max-width: 140px;
    justify-self: end;
    font-family: $header-font;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    // background-color: lighten($action-color, 10%);
    background-color: $action-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    // &:hover {
    //   background-color: $action-color;
    // }
  }

  & > label {
    text-align: left;
    align-self: end;
    font-family: $body-font;
    font-size: 1.5rem;
    // color: lighten($dark-color, 10%);
    color: set-text-color();
  }

  & > input,
  &  > textarea {
    font-family: $body-font;
    font-size: 1.25rem;
    // color: $dark-color;
    color: set-text-color();
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid darken($light-color, 10%);
    border-radius: 2px;
  }

  & > textarea {
    resize: none;
    box-shadow: none; // Remove red border in Firefox
  }
}

@media only screen and (min-width: 450px) {
  #contact_form {
    grid-template-rows: repeat(3, 35px) 175px 40px;
    grid-template-columns: 100px 1fr;
    grid-gap: 0.75rem;
    grid-template-areas:
      'label-name input-name'
      'label-email input-email'
      'label-sub input-sub'
      'label-msg input-msg'
      '. submit';

    & > label {
      text-align: right;
      align-self: center;

      &[for=message] {
        align-self: start;
      }
    }

    & > input,
    &  > textarea {
      border: none;
      border-bottom: 1px solid darken($light-color, 10%);
      border-radius: 0;
    }

    & > input[name=name],
    & > input[name=email] {
      max-width: 300px;
    }
  }
}

@media only screen and (min-width: 800px) {
  .container > h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  #contact_form {
    grid-template-rows: repeat(2, 35px) 200px 40px;
    grid-template-columns: repeat(2, 100px 1fr);
    grid-template-areas:
      'label-name input-name label-email input-email'
      'label-sub input-sub input-sub input-sub'
      'label-msg input-msg input-msg input-msg'
      '. . . submit';
  }
}