@import '../helpers/colors', '../helpers/fonts', '../helpers/sizes';

.container,
.contact_btn {
  font-family: $header-font;
}

.container {
  position: absolute;
  top: $headband-height * 1.5;
  // left: 50%;
  // transform: translateX(-50%);
  transform-origin: 50% 0%;
  width: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;

  @for $i from 1 through 4 {
    & > *:nth-child(#{$i}) {
      margin-bottom: 1.25rem;
    }
  }

  & > h1,
  & > h2 {
    color: $dark-color;
    text-shadow: 2px 2px $light-color;
  }

  & > h2 {
    letter-spacing: 3px;
  }
}

.contact_btn {
  display: inline-block;
  text-decoration: none;
  color: $action-color;
  // color: #fff;
  // background-color: $action-color;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.65rem;
  border: 3px solid $action-color;
  border-radius: 5px;

  &:hover {
    color: #fff;
    background-color: $action-color;
    // color: $action-color;
    // background-color: transparent;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (orientation: landscape) and (max-width: 600px) {
  .container {
    top: $headband-height * 1.25;

    @for $i from 1 through 4 {
      &>*:nth-child(#{$i}) {
        margin-bottom: 0.6rem;
      }
    }
  }
}

// @media only screen and (orientation: landscape) and (max-width: 800px) {
//   .container {
//     top: 75%;
//     transform: translate(-50%, -75%);
//   }
// }

@media only screen and (min-width: 500px) {
  .container {
    font-size: 1.25rem;

    & > h1 {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .container {
    font-size: 2rem;

    @for $i from 1 through 4 {
      &>*:nth-child(#{$i}) {
        margin-bottom: 1.75rem;
      }
    }

    & > h1,
    & > h2 {
      text-shadow: 4px 4px $light-color;
    }

    & > h1 {
      font-size: 4rem;
    }
  }

  .contact_btn {
    font-size: 1.75rem;
  }
}