@import '../helpers/colors', '../helpers/fonts', '../helpers/sizes';

.container {
  position: absolute;
  top: 30%;
  width: 100vw - 2 * $sm-side-margin;
  left: 50%;
  transform: translateX(-50%);
  font-size: 9vw;
  text-align: center;

  @for $i from 1 through 4 {
    & > *:nth-child(#{$i}) {
      margin-bottom: 1.25rem;
    }
  }

  & > *:last-child {
    margin-bottom: 2rem;
  }

  & > h1,
  & > h2 {
    font-family: $header-font;
    text-transform: uppercase;
    text-shadow:
      0 1px lighten($bg-color, 25%),
      0 2px lighten($bg-color, 25%),
      0 3px lighten($bg-color, 25%),
      0 10px 1px rgba($dark-bg-color, 0.25);
  }

  & > h1 {
    font-size: 1em;
  }

  & > h2 {
    color: $light-color;
    font-size: 0.75em;
    letter-spacing: 3px;
  }
}

.contact_btn {
  display: inline-block;
  color: #fff;
  background-color: $action-color;
  font-family: $header-font;
  font-size: 0.55em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.3em 0.6em;
  border-style: solid;
  border-width: 1px 3px 3px 1px;
  border-color: $light-color darken($action-color, 10%) darken($action-color, 10%) $light-color;
  border-radius: 5px;

  &:hover {
    background-color: darken($action-color, 5%);
    border-color: $light-color darken($action-color, 15%) darken($action-color, 15%) $light-color;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Prevent container from overflowing navUI
@media only screen and (orientation: landscape) and (max-height: 400px) {
  .container {
    top: 35%;
  }
}

@media only screen and (min-width: 450px) {
  .container {
    font-size: 7vw;
    width: 100vw - 2 * $lg-side-margin;
  }
}

@media only screen and (min-width: 750px) {
  .contact_btn {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    font-size: 4rem;

    @for $i from 1 through 3 {
      & > *:nth-child(#{$i}) {
        margin-bottom: 1.25rem;
      }
    }

    & > h1,
    & > h2 {
      text-shadow:
        0 1px lighten($bg-color, 25%),
        0 2px lighten($bg-color, 25%),
        0 3px lighten($bg-color, 25%),
        0 4px lighten($bg-color, 25%),
        0 20px 5px rgba($dark-bg-color, 0.25);
    }
  }
}