@import '../helpers/colors', '../helpers/fonts';

.container,
.contact_btn {
  font-family: $header-font;
  font-size: 0.75rem;
}

.container {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  width: 100%;
  text-align: center;

  @for $i from 1 through 3 {
    & > *:nth-child(#{$i}) {
      margin-bottom: 1rem;
    }
  }
}

.contact_btn {
  $color: lighten($primary-color, 50%);

  display: inline-block;
  text-decoration: none;
  color: $color;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.5rem;
  border: 3px solid $color;
  border-radius: 5px;

  &:hover {
    color: #fff;
    background-color: $color;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .container,
  .contact_btn {
    font-size: 1rem;
  }

  .container {
    // top: 20%;
    // transform: none;
    width: 50%;
    min-width: 450px;
  }
}