@import '../helpers/fonts', '../helpers/colors';

.container {
  max-width: 300px;
  padding-bottom: 2rem;
  margin: 0 auto;
  text-align: center;
}

.list_skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .container {
    max-width: none;
  }

  .list_skills {
    flex-direction: row;
    align-items: flex-start;
  }
}