@import '../helpers/fonts', '../helpers/colors';

.container {
  max-width: 300px;
  padding-bottom: 2rem;
  margin: 0 auto;
  text-align: center;

  & > h1 {
    font-family: $header-font;
    font-size: 2rem;
    color: $light-color;
    margin-bottom: 2rem;
  }
}

.list_skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skill {
  & > h4 {
    font-family: $header-font;
    font-size: 1.75rem;
    margin: 0.75rem 0 1.25rem;
  }

  & > ul {
    list-style: none;
    padding: 0;

    & > li {
      display: inline-block;
      font-family: $header-font;
      font-size: 0.9rem;
      color: #fff;
      padding: 0.05rem 0.25rem;
      margin: 0 0.15rem 0.25rem;
      border-radius: 3px;
    }
  }

  &[skill=design] > ul > li {
    background-color: #F5A623;
  }

  &[skill=develop] > ul > li {
    background-color: #4A90E2;
  }

  &[skill=deploy] > ul > li {
    background-color: #0EC49B;
  }

  & > p {
    font-family: $body-font;
    font-size: 1.25rem;
    margin: 0.35rem 0 3rem;
  }
}

.icon {
  $size: 150px;
  height: $size;
  width: $size;
  fill: $dark-color;
}

@media only screen and (min-width: 800px) {
  .container {
    max-width: none;

    & > h1 {
      font-size: 2.5rem;
      margin-bottom: 5rem;
    }
  }

  .list_skills {
    flex-direction: row;
    align-items: flex-start;
  }

  .skill {
    max-width: 300px;

    &:first-child {
      margin-right: 1.5rem;
    }

    &:last-child {
      margin-left: 1.5rem;
    }

    & > ul {
      // Matching (font-size + (padding + margin-bottom) * 2) * 2
      height: (0.8rem + (0.05rem + 0.25rem) * 2) * 2;
    }
  }
}

// Reduce sizes
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .skill {
    & > h4 {
      font-size: 1.5rem;
      margin: 0.25rem 0 0.75rem;
    }

    & > ul > li {
      font-size: 0.8rem;
    }

    & > p {
      font-size: 1rem;
    }
  }

  .icon {
    $size: 100px;
    height: $size;
    width: $size;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1209px) {
  .skill > ul {
    // Matching font-size + (padding + margin-bottom) * 2
    height: (0.9rem + (0.05rem + 0.25rem) * 2) * 2;
  }
}

// Width when list takes one line only
@media only screen and (min-width: 1210px) {
  .skill > ul {
    // Matching font-size + (padding + margin-bottom) * 2
    height: 0.9rem + (0.05rem + 0.25rem) * 2;
  }
}