@import '../helpers/fonts';

.container {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;

  & > *:first-child {
    font-family: $header-font;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  & > *:last-child {
    font-family: $body-font;
    font-size: 1rem;
    margin-top: 2rem;
  }
}

// @media only screen and (min-width: 500px) {
//   .container {
//     width: 75%;
//   }
// }

@media only screen and (min-width: 800px) {
  .container {
    // width: 60%;

    & > *:first-child {
      font-size: 2rem;
    }

    & > *:last-child {
      font-size: 1.25rem;
    }
  }
}