.content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
}

.icons > a > img {
  $icon-size: 30px;

  height: $icon-size;
  width: $icon-size;
}

@media only screen and (min-width: 800px) {
  .content {
    top: 20%;
    width: 50%;
  }
}