.content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .content {
    top: 20%;
    width: 50%;
    min-width: 450px;
  }
}