@import 'helpers/fonts', 'helpers/colors', 'helpers/icons';

@mixin bg-color($color) {
  background-color: rgba($color, 0.7);
}

.container_background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &[id='News Aggregator'] {
    @include bg-color($news-agg-color);
  }
  &[id='Tic-Tac-Toe Game'] {
    @include bg-color($tic-tac-toe-color);
  }
  &[id='Choropleth Map'] {
    @include bg-color($choropleth-color);
  }
  &[id='Simon Game'] {
    @include bg-color($simon-color);
  }
}

.container {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 85vw;
  max-width: 600px;
  max-height: 90vh;
  font-family: $body-font;
  background-color: #fff;
  padding: 1.5rem 0;
  overflow-y: auto;
  z-index: 10;

  & > h2 {
    position: relative;
    font-family: $header-font;
    font-size: 1.5rem;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    & > li {
      display: block;

      &[data-role=triangle] {
        @include triangle;
        display: none;
      }

      & > span {
        font-style: italic;
        margin-left: 0.25rem;
      }
    }
  }

  & > p {
    width: 80%;
    max-width: 360px;
    font-size: 0.9rem;
    margin: 1rem auto;
  }
}

.cross {
  $size: 20px;

  position: absolute;
  top: 10px;
  right: 10px;
  width: $size;
  height: $size;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: $size;
    height: 3px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  & > a {
    $border-radius: 15px;

    font-family: $header-font;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    // width: 42%;
    // line-height: 1.75rem;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;

    &:first-child {
      color: $primary-color;
      background-color: transparent;
      border-color: $primary-color;
      border-right: none;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      color: #fff;
      background-color: $primary-color;
      border-color: transparent;
      border-left: none;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

@media only screen and (min-width: 530px) {
  .container {
    & > ul > li {
      display: inline-block;
      margin: 0 0.25rem;

      &[data-role=triangle] {
        display: inline-block;
      }
    }

    & > p {
      font-size: 1rem;
    }
  }
}

// Move modal when navbar is opened
@media only screen and (min-width: 950px) {
  .container[nav=visible] {
    right: 70%;
    transform: translate(70%, -50%);
  }
}