@import 'helpers/fonts', 'helpers/colors', 'helpers/icons';

.container_background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 9;
}

.container {
  position: fixed;
  top: 35%;
  right: 50%;
  transform: translate(50%, -35%);
  width: 85vw;
  max-width: 650px;
  max-height: 90vh;
  font-family: $body-font;
  color: #fff;
  padding: 1.5rem 0;
  overflow-y: auto;
  z-index: 10;

  @each $project, $color in $projects {
    &[project='#{$project}'] {
      background-color: $color;
    }
  }

  & > h2 {
    position: relative;
    font-family: $header-font;
    font-size: 1.5rem;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;

    & > li {
      display: block;
      font-size: 1rem;

      & > .triangle {
        display: none;
      }

      & > span {
        font-style: italic;
        text-transform: capitalize;
        margin-left: 0.25rem;
      }
    }
  }

  & > img {
    width: 75%;
    max-width: 300px;
  }

  & > p {
    width: 80%;
    max-width: 360px;
    font-size: 1rem;
    line-height: 1.1;
    margin: 1rem auto;
  }
}

// .preview {
//   width: 75%;
//   max-width: 300px;
//   margin: 0 auto;
// }

.cross {
  @include cross(10px, 10px, 20px, $light-color);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;

  @each $project, $color in $projects {
    &[project='#{$project}'] > a {
      color: $color;
    }
  }

  & > a {
    $border-radius: 3px;

    background-color: #fff;
    font-family: $header-font;
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.35rem 0.65rem;
    margin: 0 0.25rem;
    border: 2px solid transparent;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: transparent;
      border-color: #fff;
    }
  }

}

@media only screen and (min-width: 530px) {
  .container {
    & > ul > li {
      display: inline-block;
      margin: 0 0.25rem;

      & > .triangle {
        $size: 0.75rem;
        display: inline-block;
        height: $size;
        width: $size;
        fill: #fff;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .container {
    & > h2 {
      font-size: 2rem;
    }

    & > ul {
      margin: 1.25rem 0;

      & > li {
        font-size: 1.2rem;
      }
    }

    & > p {
      max-width: 420px;
      font-size: 1.2rem;
      line-height: 1.3rem;
      margin: 1.5rem auto;
    }
  }

  .links > a {
    font-size: 1.25rem;
  }
}