@import 'helpers/fonts', 'helpers/colors', 'helpers/icons';

$bg-duration: 200ms;

.container_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  z-index: 9;


  &[status=entered] {
    opacity: 0.8;
    transition: all $bg-duration ease-out;
  }

  &[status=exiting] {
    opacity: 0;
    transition: all $bg-duration ease-in 150ms;
  }
}

.container {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  max-width: 650px;
  // width: 85vw;
  // max-height: 90vh;
  width: 0;
  max-height: 0;
  font-family: $body-font;
  color: #fff;
  box-shadow: 0px 15px 15px 2px $dark-color;
  overflow-y: auto;
  z-index: 10;

  /* clip-path & hover ('.cross' & 'a' below) not working in Firefox */

  // Start from center
  // clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  // clip-path: polygon(50% 20%, 50% 20%, 50% 80%, 50% 80%);
  opacity: 0;

  &[status=entered] {
    // Above 100% & below 0% to show shadows
    // clip-path: polygon(-20% -20%, 120% -20%, 120% 120%, -20% 120%);
    // transition: all 100ms ease $bg-duration*1.5;
    transition:
      max-height 200ms ease-out $bg-duration,
      width 200ms ease-out $bg-duration,
      opacity 150ms ease-in $bg-duration*1.5;
    opacity: 1;
    max-height: 90vh;
    width: 85vw;
  }

  &[status=exiting] {
    // clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    // clip-path: polygon(50% 20%, 50% 20%, 50% 80%, 50% 80%);
    // transition: all 150ms ease-in;
    transition:
      max-height 200ms ease-out 50ms,
      width 200ms ease-out 50ms,
      opacity 100ms ease-in;
    opacity: 0;
    max-height: 0;
    width: 0;
  }

  @each $project, $color in $projects {
    &[project='#{$project}'] {
      background-color: $color;
      /* Scrollbar handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgba($light-color, 0.65);
      }
    }

    /* Container scrollbar (only works with Chrome & Safari) */
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $light-color;
    }
  }

  & > h2 {
    position: relative;
    font-family: $header-font;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;

    & > li {
      display: block;
      font-size: 1rem;

      & > .triangle {
        display: none;
      }

      & > span {
        font-style: italic;
        margin-left: 0.25rem;
      }
    }
  }

  & > img {
    width: 75%;
    max-width: 300px;
  }

  & > p {
    width: 80%;
    max-width: 360px;
    font-size: 1rem;
    line-height: 1.1;
    margin: 1rem auto;
  }
}

.cross {
  @include cross(10px, 10px, 20px, $light-color);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
  margin-bottom: 1.5rem;

  @each $project, $color in $projects {
    &[project='#{$project}'] > a {
      color: $color;
    }
  }

  & > a {
    $border-radius: 3px;

    background-color: #fff;
    font-family: $header-font;
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.35rem 0.65rem;
    margin: 0 0.25rem;
    border: 2px solid transparent;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: transparent;
      border-color: #fff;
    }
  }
}

@media only screen and (min-width: 530px) {
  .container {
    & > ul > li {
      display: inline-block;
      margin: 0 0.25rem;

      & > .triangle {
        $size: 0.75rem;
        display: inline-block;
        height: $size;
        width: $size;
        fill: #fff;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .container {
    &::-webkit-scrollbar {
      width: 6px;
    }

    & > h2 {
      font-size: 2rem;
    }

    & > ul {
      margin: 1.25rem 0;

      & > li {
        font-size: 1.2rem;
      }
    }

    & > p {
      max-width: 420px;
      font-size: 1.2rem;
      line-height: 1.3rem;
      margin: 1.5rem auto;
    }
  }

  .links > a {
    font-size: 1.25rem;
  }
}