@import './helpers/fonts', './helpers/colors';

// Set variables for 'li' & calculate 'ul' height
$item-font-size: 0.9rem;
$item-line-height: $item-font-size + 0.3rem;
$item-margin-bottom: 0.25rem;

.skill {
  margin-bottom: 2rem;

  & > h4 {
    font-family: $header-font;
    color: $dark-color;
    font-size: 1.75rem;
    letter-spacing: 1px;
    margin-top: 0.75rem;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;

    & > li {
      display: inline-block;
      font-family: $header-font;
      font-size: $item-font-size;
      -webkit-text-stroke: 0.25px;
      color: #fff;
      line-height: $item-line-height;
      padding: 0 0.25rem;
      margin: 0 0.15rem;
      margin-bottom: $item-margin-bottom;
      border: none;
      border-radius: 3px;
    }
  }

  @each $skill, $color in $skills {
    &[data-skill='#{$skill}'] > ul > li {
      background-color: $color;
    }
  }

  & > p {
    font-family: $body-font;
    font-size: 1.25rem;
    margin-top: 0.35rem;
  }
}

@media only screen and (min-width: 800px) {
  .skill {
    max-width: 300px;
    margin: 0;

    &:nth-child(2) {
      margin: 0 1.5rem;
    }
  }
}

// Reduce sizes & set ul height
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  $item-font-size: 0.8rem;
  $item-line-height: $item-font-size + 0.3rem;

  .skill {
    & > h4 {
      font-size: 1.5rem;
      margin: 0.25rem 0 0.75rem;
    }

    & > ul {
      // Set height to 2 lines of 'li'
      height: ($item-line-height + $item-margin-bottom) * 2;
      margin: 0.5rem 0;

      & > li {
        font-size: $item-font-size;
        line-height: $item-line-height;
      }
    }

    & > p {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1001px) {
  .skill > ul {
    height: ($item-line-height + $item-margin-bottom) * 2;
  }
}

// Width when 'ul' takes one line only
@media only screen and (min-width: 1210px) {
  .skill > ul {
    height: $item-line-height + $item-margin-bottom;
  }
}