<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $favicon := resources.Get "favicon.ico" -}}
    <link rel="icon" href="{{ $favicon.RelPermalink }}" type="image/x-icon"/ >
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint
    -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <title>
      {{- block "title" . -}}
        {{- .Site.Title -}}
      {{- end -}}
    </title>
    <meta name="description" content="{{ .Site.Params.Description }}" />
    <meta name="author" content="{{ .Site.Params.Author }}" />
    {{ with .Site.Params.Keywords -}}
    <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
    {{ end -}}
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.Description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ .Site.BaseURL | replaceRE "^https?://([^/]+).*" "$1" }}">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{ .Site.Params.TwitterAccount }}">
    <meta name="twitter:description" content="{{ .Site.Params.Description }}">
    <script async defer data-website-id="573ce47d-3f42-417b-99d5-fca3cff80401" src="https://analytics.benoitgelineau.com/umami.js"></script>
  </head>
  <body>
    <header id="site-header">
      <div class="logo">
        {{ readFile "/assets/logo/logo.svg" | safeHTML }}
      </div>
      {{ partial "header/menu-button.html" . -}}
    </header>

    <aside class="left-sidebar">
      <nav class="navbar">
        {{ partial "navlist.html" . }}
      </nav>
    </aside>

    {{ block "main" . }}{{ end }}

    <footer>Copyright © {{ .Site.Params.creationYearDate }}-{{ now.Format "2006" }} {{ .Site.Params.Author }}</footer>

    {{ $script := resources.Get "scripts/main.js" | minify -}}
    <script type="text/javascript" src="{{ $script.RelPermalink }}" defer></script>
  </body>
</html>
