<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ $title := .Title }}
    {{- if ne .Title .Site.Title -}}
      {{- $title = printf "%s | %s" .Site.Title .Title -}}
    {{ end }}
    {{ $description := .Description | default .Site.Params.description }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin">
    {{ partial "favicon.html" }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto+Serif&display=swap" rel="stylesheet">
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint
    -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <title>{{ $title }}</title>
    <meta name="description" content="{{ $description }}">
    {{ with .Keywords | default .Site.Params.keywords -}}
    <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
    {{ end -}}
    <meta name="author" content="{{ .Site.Params.author }}" />
    <link rel="canonical" href="{{ .Permalink }}">
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ .Site.BaseURL | replaceRE "^https?://([^/]+).*" "$1" }}">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <script async defer src="https://analytics.benoitgelineau.com/script.js" data-website-id="bc7a91f4-c011-4e1b-b033-7362687d6dac"></script>
  </head>
  <body>
    {{ partial "header.html" .Site }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" .Site.Params }}
  </body>
</html>
