<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="mx-auto flex min-h-screen max-w-4xl flex-col px-6">
    <header class="grow">
      {{ partial "header.html" . }}
    </header>
    <main class="flex grow flex-col">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="self-center py-6">
      {{ partial "footer.html" .Site.Params }}
    </footer>
  </body>
</html>
