{{ define "main" }}
  {{ with .Params }}
    <h3 class="text-3xl font-black md:text-4xl">Projects</h3>
    <ul class="flex flex-col items-center gap-20 py-6">
      {{ range .projects }}
        <li class="max-w-[600px]">
          {{ $imageUrl := resources.Get .image.url }}
          <img
            class="rounded-lg border border-gray-100"
            src="{{ $imageUrl.Permalink }}"
            alt="{{ .image.description }}"
          />
          <div class="flex items-center gap-2 pt-4">
            <p class="text-2xl font-semibold md:text-3xl">
              {{ .name }}
            </p>
            <div
              class="rounded-full border bg-slate-400 px-2 py-1 text-xs italic text-white"
            >
              {{ .type }}
            </div>
          </div>
          <p class="pb-4 pt-0 font-light">{{ .company }} / {{ .date }}</p>
          <p class="pb-2">
            {{ .description }}
          </p>
          <div>
            {{ range .tech }}
              <div
                class="inline-block rounded border bg-slate-200 px-2 py-1 text-xs"
              >
                {{ . }}
              </div>
            {{ end }}
          </div>
          <div class="flex items-center gap-2 pt-6">
            {{ range .links }}
              <a
                href="{{ .url }}"
                class="rounded-full border bg-gray-900 px-4 py-2 text-center text-white transition duration-150 ease-in-out hover:bg-gray-500"
                >{{ .label }}</a
              >
            {{ end }}
          </div>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
